.CarbsLine {
    margin: 8px 0;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 56px;
    border-bottom: 1px solid grey;

    &__detail {
        font-size: 1.5em;
        padding: 8px;
    }

    &__actions {
        margin: 8px;
        display: flex;
        align-items: center;
        font-size: 1.25em;
        justify-content: space-between;
    }
}
