.Product {
    margin: $default_vertical_margin;
    border-bottom: $separating_border;

    display: grid;
    grid-template-columns: 7fr 2fr 3fr;
    font-size: 1.5em;

    &--header {
        border-bottom: $separating_strong_border;
    }

    &-actions {
        margin: $default_padding;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__form {
        grid-column: 12/12;
    }
}
