.ProfilePage {
    padding: $default_padding;
    display: grid;
    grid-template-rows: 1fr 4fr;

    &__composites-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__composite {
        padding: $default_padding;
        display: flex;
        flex-direction: column;
        border: none;
        border-radius: 5px;
        box-shadow: $card_shadow;

        &-label {

        }

        &-primary-value {
            font-size: 1.15em;
            font-weight: bold;
            align-self: flex-end;
        }

        &-secondary-value {
            color: $color-secondary;
            font-size: 0.75em;
            align-self: flex-end;

            &--warning {
                color: #e45e10;
            }

            &--safe {
                color: forestgreen;
            }
        }
    }

    &__chart {
        margin: $default_vertical_margin;
        padding: 4px;
        border: none;
        border-radius: 5px;
        box-shadow: $card_shadow;

        .yAxis {
            font-size: 0.7em;
        }
    }
}
