.Ticket {
    padding: 1em;
    display: grid;
    grid-template-rows: 8em 60vh;

    &__header {
        margin: 8px 0;
        border-bottom: $separating_border;

        &-actions {
            display: flex;
            justify-content: center;
            align-items: center;

            .Ticket__header-action {
                font-size: 1.25rem;
                margin: 0 $default_horizontal_margin 0.5em;
            }
        }
    }

    &__title {
        text-align: center;
    }

    &__body {
        overflow-y: auto;
    }

    &__details {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__detail {
        &--big {
            font-size: 1.5em;
        }
    }

    &__subdetail {
        display: block;
    }

    &__fields {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-row-gap: 8px;
        grid-column-gap: 8px;
        margin: 40px 0 8px;

        &-input {
            outline: none;
            border: none;
            border-bottom: $separating_border;

            &--with-sub-parts {
                display: grid;
                grid-template-columns: 2fr 1fr;
            }

            &--number {
                width: 60px;
                outline: none;
                border: none;
            }

            &-arrows {
                display: flex;
                flex-direction: column;
                font-size: 1.5em;
                text-align: end;
            }
        }
    }

    &__actions {
        text-align: center;
        margin-top: 16px;
    }

    &__submit {
        border-radius: 100px;
        outline: none;
        border: none;
        padding: 4px 8px;
        font-size: 1.5em;
        color: white;
        background-color: dodgerblue;
    }
}
