.Ticket {
    &__content {

    }

    &__line {
        margin: 8px 0;
        border: solid 1px;
        display: grid;
        grid-template-columns: 1fr 4fr;

        &-detail {
            font-size: 1.5em;
            border: solid;
            padding: 8px;
        }
    }
}
