.TicketsPage {
    margin: 16px;

    &__ticket {
        padding: 16px;
        margin: 8px 0;
        border-bottom: $separating_border;

        &-date {
            font-size: 0.65em;
            color: dimgrey;
            font-style: italic;
        }
    }
}
